.header {
    background-color: #23180D;
    display: flex;
    align-items: center;
    list-style: none;
    line-height: 40px;
}

.header img {
    padding: 10px;
}

.header li {
    margin-left: auto;
}

.header li a {
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 20px;
    padding: 10px;
}

.search-field {
    margin-right: 20px;
}